/* smooch-sans-regular - latin */
@font-face {
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/smooch/smooch-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/smooch/smooch-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/smooch/smooch-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/smooch/smooch-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/smooch/smooch-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/smooch/smooch-sans-v4-latin-regular.svg#SmoochSans') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Smooch Sans';
}

body {
  background: linear-gradient(180deg, #07110d, #122b22, #1e4436, #2c6651, #3f9374, #50b892, #6dd1b0);
  background-size: 600% 600%;
  font-size: calc(26px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
}

#main {
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  color: #efefef;
}

#header a {
  text-decoration: none;
  color: #efefef;
}

#header a:hover {
  color: #AB2929;
}

